@font-face {
  font-family: 'dockermanager';
  src: url('../fonts/dockermanager.eot?xtw6ft');
  src: url('../fonts/dockermanager.eot?xtw6ft#iefix')
      format('embedded-opentype'),
    url('../fonts/dockermanager.ttf?xtw6ft') format('truetype'),
    url('../fonts/dockermanager.woff?xtw6ft') format('woff'),
    url('../fonts/dockermanager.svg?xtw6ft#dockermanager') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dockermanager' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-overview:before {
  content: '\e900';
}
.icon-images:before {
  content: '\e901';
}
.icon-containers:before {
  content: '\e902';
}
.icon-clean:before {
  content: '\e903';
}
.icon-terminal:before {
  content: '\e904';
}
.icon-setting:before {
  content: '\e905';
}
.icon-search:before {
  content: '\e906';
}
.icon-del:before {
  content: '\e907';
}
.icon-start:before {
  content: '\e908';
}
.icon-stop:before {
  content: '\e909';
}
.icon-layers:before {
  content: '\e90a';
}
.icon-share:before {
  content: '\e90b';
}
.icon-tag:before {
  content: '\e90c';
}
.icon-git:before {
  content: '\e90d';
}
.icon-add:before {
  content: '\e145';
}
.icon-check:before {
  content: '\e5ca';
}
.icon-close:before {
  content: '\e5cd';
}
.icon-reload:before {
  content: '\e86a';
}
.icon-alert:before {
  content: '\e90e';
}
.icon-error:before {
  content: '\e888';
}
.icon-cancel:before {
  content: '\e611';
}
.icon-time:before {
  content: '\e8b5';
}
.icon-add_circel:before {
  content: '\e3ba';
}
.icon-remove_circle:before {
  content: '\e15d';
}

html,
body {
  height: 100%;
  background: #f2f4f5;
  color: #6a7a8c;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-user-select: none;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 100px;
  background: #233242;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.content {
  position: fixed;
  width: 700px;
  height: 625px;
  margin-left: 100px;
  padding: 0 50px;
}

.sidebar .navs {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-app-region: no-drag;
}
.sidebar .navs li {
  margin-bottom: 20px;
}
.sidebar .navs li:last-child {
  margin-bottom: 0;
}
.sidebar .navs li a {
  display: block;
  height: 53px;
  padding-top: 12px;
  color: #8f979f;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.sidebar .navs li a.active,
.sidebar .navs li a.active:hover {
  background: #147efb;
  color: #fff;
}
.sidebar .navs li a:hover {
  color: #147efb;
}
.sidebar .navs li a .icon {
  font-size: 24px;
  display: block;
  width: 24px;
  margin: 0 auto 4px auto;
}

/* Commons */

.page-title {
  font-size: 21px;
  color: #6a7a8c;
  margin: 50px 0 20px 0;
  font-weight: 400;
}

.shadow {
  box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05),
    0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.unselectble {
  -webkit-user-select: none;
}

.undragble {
  -webkit-app-region: no-drag;
}

.dragble {
  -webkit-app-region: drag;
}

/* Overview */

.overview-items {
  background: #fff;
  padding: 30px 50px;
}
.overview-items .overview-item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e9e9e9;
}
.overview-items .overview-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.overview-items .overview-item-title {
  color: #6a7a8c;
  margin: 0 0 35px 0;
}
.overview-items .overview-item-title .icon {
  color: #8f979f;
  margin-right: 10px;
}
.overview-items .overview-item-data {
  display: flex;
  color: #bbc0c9;
}
.overview-items .overview-item-data .overview-item-group {
  display: flex;
  width: 50%;
}
.overview-items .overview-item-data .overview-item-group .overview-item-name {
  width: 50%;
}
.overview-items .overview-item-data .overview-item-group .overview-item-value {
  width: 50%;
  text-align: center;
}

/* Shortcuts */

.shortcuts {
  margin-top: 30px;
}
.shortcuts .title {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.shortcuts ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 20px;
  background: #fff;
}
.shortcuts ul li {
  width: 45%;
}
.shortcuts .shortcut {
  display: flex;
  text-decoration: none;
}
.shortcuts .shortcut .image {
  font-size: 30px;
  width: 64px;
  height: 64px;
  line-height: 68px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #147efb;
  display: inline-block;
}
.shortcuts .shortcut .summary {
  color: #233242;
  margin-left: 15px;
}
.shortcuts .shortcut .summary h4 {
  margin: 4px 0;
  font-weight: 400;
}
.shortcuts .shortcut .summary small {
  font-weight: 400;
  color: #6a7a8c;
}
